<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <div class="jumbotron text-center">
    <h1>Green's Home and Lighting</h1>
    <h3>Employee Directory</h3>
    <p>A lighting company for all your home improvement needs!</p>
    <p>Products include chandeliers, LED lights, and more!</p>
    <p>Feel free to come by and visit our store!</p>
  </div>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#contact">Locations</a>
</div>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('cars')"> Cars</button>
  <button class="btn" onclick="filterSelection('animals')"> Animals</button>
  <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
  <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Salary</th>
    <th scope="col">Supervisor</th>
    <th scope="col">Hire Date</th>
    <th scote="col">Location</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Jake Adams</td>
    <td>Technician</td>
    <td>$55,000</td>
    <td>Robert Morris</td>
    <td>01/20/2018</td>
    <td>New Jersey</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Robert Morris</td>
    <td>CEO</td>
    <td>$110,000</td>
    <td>NA</td>
    <td>01/01/2018</td>
    <td>New Jersey</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Amy Stevens</td>
    <td>Accountant</td>
    <td>$40,000</td>
    <td>Robert Morris</td>
    <td>01/01/2018</td>
    <td>New York</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Roshan Patel</td>
    <td>Salesman</td>
    <td>$60,000</td>
    <td>Robert Morris</td>
    <td>02/30/2018</td>
    <td>Illinois</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Shawn Zhang</td>
    <td>Network Administrator</td>
    <td>$60,000</td>
    <td>Robert Morris</td>
    <td>01/01/2018</td>
    <td>Virginia</td>
  </tr>
  </tbody>
</table>

</body>
</html>